<nav
    class="navbar navbar-expand-sm navbar-dark"
    style="background-color: #0747a6;"
>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <label for="search">Search</label>
            <input
                class="form-control mr-sm-2"
                type="text"
                placeholder="Enter project name"
                id="search"
            />
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <add-project-modal></add-project-modal>
        </form>
    </div>
</nav>
