.form-group {
    margin: auto;
    width: 25%;
    margin-top: 20px;
}

label {
    font-size: larger;
}

button {
    margin-top: 10px;
    width: 100%;
}

.alert.alert-danger {
    margin-top: 10px;
}
