<form>
    <div class="form-group">
        <label style="font-size: larger;" for="exampleInputEmail1"
            >Username</label
        >
        <input type="text" class="form-control" id="username" />
    </div>
    <div class="form-group">
        <label style="font-size: larger;" for="password">Password</label>
        <input type="password" class="form-control" id="password" />

        <button
            style="margin-top: 10px; width: 100%;"
            type="submit"
            class="btn btn-primary"
        >
            Login
        </button>
    </div>
</form>
